<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>QR Code Generator</h2>
        <form method="POST">
            <input type="text" name="url" placeholder="Enter a URL" required>
            <button type="submit">Generate QR Code</button>
        </form>
        
        <p class="footer-text">©Bektas - 2025</p>
    
    </div>
</body>
</html>
